/* style App */
:root {
    --white: #ffffff;
}
body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* scrollbar */
/* -webkit-scrollbar {
    width: 10px;
}

.schedule__boxes::-webkit-scrollbar-track {
    background: transparent;
}

.schedule__boxes::-webkit-scrollbar-thumb {
    background-color: #7d7c7c;
    border-radius: 5px;
} */

.calendar__wrapper {
    width: 820px;
    height: 99vh;
    overflow: hidden;
    background-color: #e6e3df;
    position: fixed;
    top: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: relative;
    padding: 10px;
}

/* arrows style */
.arrow {
    width: 6px;
    height: 6px;
    overflow: hidden;
    cursor: pointer;
}

.arrow--position1 {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.arrow--position2 {
    position: absolute;
    top: 40%;
    right: 0;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
}

.header__doubleArrows {
    position: relative;
}

.arrow--doubleArrow1 {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    position: absolute;
    top: 2px;
    right: 2px;
}

.arrow--doubleArrow2 {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
}

.arrow > span {
    display: block;
    width: 18px;
    height: 18px;
    background-color: black;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.calendar {
    width: 800px;
    background-color: white;
    overflow-y: hidden;
}

.header__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 40px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 5px 5px 5px 15px;
}

.header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    height: 40px;
}

.header__dateChange {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__days {
    font-size: 18px;
    margin: 0 5px;
}

.header__iconCalendar {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    border-radius: 4px;
    border: thin solid grey;
}

.header__arrowDate {
    border-top: 2px solid black;
    border-left: 2px solid black;
    width: 2px;
    height: 2px;
    padding: 2px;
    cursor: pointer;
}

.header__arrowDate--left {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.header__arrowDate--right {
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
}

/* schedule */
.schedule__wrapper {
    position: relative;
}

.schedule {
    overflow-x: hidden;
    position: relative;
    overflow: auto;
    height: 75vh;;
}

/* time bar */
.schedule__timeBar {
    position: absolute;
    top: 650px;
    width: 100%;
    z-index: 9999;
}

.schedule__line {
    height: 1px;
    width: 100%;
    background-color: #e86735;
    position: relative;
}

.schedule__line > span {
    background-color: #e86735;
    position: absolute;
    display: block;
}

.schedule__line > span:nth-child(1), .schedule__line > span:nth-child(3) {
    top: -2px;
    width: 5px;
    height: 5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.schedule__line > span:nth-child(1) {
    left: 31px;
}

.schedule__line > span:nth-child(3) {
    left: 73px;
}

.schedule__line > span:nth-child(2) {
    top: -9px;
    left: 33px;
    width: 43px;
    height: 19px;
    font-size: 13px;
    text-align: center;
    border-radius:12px;
    color: white;
    line-height: 19px;
}

.schedule__boxes {
    width: 100%;
    height: 76vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
}

.schedule__plan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 30px;
    left: 110px;
}

.schedule__daysBox {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: flex;
    width: 100%;
    min-width: 900px;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 999;
    background-color: var(--white);
}

.schedule__activeDay {
    background-color: #f2f2f2 !important; 
}

.schedule__box {
    width: 110px;
    height: 30px;
    line-height: 29px;
    text-align: center;
}

.schedule__box--days {
    height: 30px;
    font-size: 14px;
    border-right: 1px solid#f5f5f5;
    border-top: 1px solid#f5f5f5;
    border-bottom: 1px solid#f5f5f5;
}

.schedule__box--free {
    color: lightgray;
}

.schedule__staticBox {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99999;
    background-color: var(--white);
}

.schedule__staticBox > .schedule__box--days {
    border-left: 0px;
}

.schedule__box--time {
    height: 140px;
    border-right: 1px solid #f5f5f5;;
    border-top: 1px solid #f5f5f5;;
    font-size: 14px;
}

.schedule__box--time:nth-child(odd) {
    background-color: #faf9f9;
}

.schedule__box--time:first-child {
    border-top: 0;
}

div.schedule__box--time:nth-child(15) {
    border-bottom: 1px solid#f5f5f5;
}

/* boxes */
.schedule__dayColumn {
    position: relative;
}

/* schedule tasks*/
.schedule__tasks {
    position: absolute;
    width: 109px;
    left: 0px;
    top: 0px;
    
}

.schedule__task {
    position: absolute;
    left: 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1px 0 1px 0;
    padding: 1px;
    border: 1px solid white;
}

/* .schedule__free {
    background-color: antiquewhite;
    margin: 1px 0 1px 0;
} */

/* .schedule__task--after {
    background-color: #d6ecff;
}

.schedule__task--before {
    background-color: #93d7fb;
}

.schedule__task--now {
    background-color: #fdd466;
} */

/* .schedule__task--15 {
    height: 34px;
}

.schedule__task--30 {
    height: 69px;
}

.schedule__task--45 {
    height: 104px;
}

.schedule__task--60 {
    height: 139px;
} */

/* inside task */
.schedule__additionalInfo {
    position: absolute;
    right: 1px;
    bottom: 1px;
}

.schedule__taskTime {
    font-size: 12px;
}

.schedule__taskText {
    font-size: 11px;
    width: 80%;
    overflow: hidden;
    white-space: normal;
}

.schedule__iconSmile {
    font-size: 11px;
}

.iconhelp1 {
    -webkit-filter: sepia(1) saturate(1) hue-rotate(165deg);
            filter: sepia(1) saturate(1) hue-rotate(165deg);
}

.iconhelp2 {
    -webkit-filter: sepia(1) saturate(2) hue-rotate(340deg);
            filter: sepia(1) saturate(2) hue-rotate(340deg);     
}

.schedule__mark {
    font-size: 12px;
}

.schedule__iconClose {
    display: block;
    opacity: 0;
    border: 1px solid black;
    border-radius: 50%;
    font-weight: bold;
    font-size: 17px;
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 14px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    cursor: pointer;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}

.schedule__iconClose:hover {
    opacity: 1;
}

.schedule__button {
    background-color: #cdcdcd;
    display: flex;
    justify-content: center;
    padding: 3px 0 3px 0;
}

.schedule__button > button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.schedule__button > button > span {
    display: block;
    width: 12px;
    height: 1px;
    background-color: white;
    margin-top: 1px;
}

.schedule__hour {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background-color: var(--white);
    width: 110px;
}

.static {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
    width: 110px;
    height: 30px;
    background-color: #cdcdcd !important;
    text-align: center;
    z-index: 99999;
}

.newTask {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 200px;
    border-radius: 4px;
    background-color: var(--white);
    padding: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

.newTask--display {
    display: block;
}

.newTask__title {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #cdcdcd;
    padding: 5px;
    font-size: 15px;
    overflow: hidden;
    margin-bottom: 10px;
}

.newTask__title:focus {
    outline: 0;
    background-color: #d6ecff;
}

.newTask label {
    font-size: 13px;
}

.newTask__hour {
    width: 70px;
}

.newTask__date {
    margin-bottom: 10px;
    font-size: 14px;
}

.addTask__buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.addTask__buttons > button {
    width: 100px;
    height: 28px;
    border: 0;
    cursor: pointer;
    color: blue;
    font-weight: bold;
    border-radius: 4px;
    background-color: var(--white);
    border: 1px solid #222;
}

/* .addTask__buttons > button:first-child {
    border: 1px solid green;
}

.addTask__buttons > button:last-child {
    border: 1px solid rgb(230, 5, 5);
} */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/